<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Поэма</title>
</head>
<body>
<div class="content">
  <div class="citata">
    <p><i>Ламберт, Ламберт, хер моржовый,<br>
Ламберт, Ламберт, вредный хyй,<br>
Грубый Ламберт, неучтивый,<br>
Каэр Морхена холуй.<br>
<br>
Ламберт, Ламберт, хрен собачий,<br>
Ламберт, Ламберт, злобный пёс,<br>
От обид на жизнь горячий,<br>
Хоть прошло немало вёсн.<br>
<br>
Ламберт, Ламберт, сучий потрох,<br>
Ламберт, Ламберт, вшивый волк,<br>
Аксий класть тебе неплохо,<br>
Ты б заткнулся, был бы толк.<br></i><br></p>
  <p class="author">©️ Геральт из Ривии</p>
  </div>
</div>
</body>
</html>